<?xml version="1.0"?>
<configuration>
  <appSettings>
	<add key="Conn" value="Server=YourServer;Database=YourDatabase;user id=YourUser;pwd=YourPassword;" />
    <add key="ProjectTitle" value="Help Me" />
    <add key="Version" value="1.0.0" />
    <add key="Server_Name" value="YourServer" />
    <add key="Server_Catalog" value="YourDatabase" />
    <add key="Server_User" value="YourUser" />
    <add key="Server_Password" value="YourPassword" />
    <add key="SQLProvider" value="System.Data.SqlClient" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"></customErrors>
    <authentication mode="Forms"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls/>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
    <security>
      <authentication>
        <basicAuthentication enabled="true"/>
      </authentication>
    </security>
  </system.webServer>
</configuration>